MONGO_INITDB_DATABASE=
MONGO_URI=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
JWT_SECRET=
USERS_API_URL=
VITE_AUTH_API_URL=
VITE_USERS_API_URL=
VITE_POSTS_API_URL=
VITE_MEDIA_API_URL=