services:
  mongodb:
    image: mongo:6
    container_name: sm-mongodb-prod
    restart: always
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}

  auth-api:
    container_name: sm-auth-api
    build:
      context: .
      dockerfile: apps/auth-api/Dockerfile
      target: production
    environment:
      - PORT=3000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - USERS_API_URL=${USERS_API_URL}
    depends_on:
      - mongodb
    ports:
      - '3000:3000'
    restart: always

  posts-api:
    container_name: sm-posts-api-container
    build:
      context: .
      dockerfile: apps/posts-api/Dockerfile
      target: production
    environment:
      - PORT=3000
    ports:
      - '3001:3000'
    restart: always

  users-api:
    container_name: sm-users-api-container
    build:
      context: .
      dockerfile: apps/users-api/Dockerfile
      target: production
    environment:
      - PORT=3000
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - mongodb
    ports:
      - '3002:3000'
    restart: always

  web-app:
    container_name: sm-web-app-container
    build:
      context: .
      dockerfile: apps/web-app/Dockerfile
      target: production
      args:
        - VITE_AUTH_API_URL=${VITE_AUTH_API_URL}
        - VITE_USERS_API_URL=${VITE_USERS_API_URL}
    ports:
      - '80:80'
    restart: always

volumes:
  mongo_data:
