services:
  mongodb:
    image: mongo:6
    container_name: sm-mongodb-prod
    restart: always
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=social-media-monorepo-db

  auth-api:
    container_name: sm-auth-api
    build:
      context: .
      dockerfile: apps/auth-api/Dockerfile
      target: production
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongodb:27017/social-media-monorepo-db
      - JWT_SECRET=${JWT_SECRET}
      - USERS_API_URL=http://users-api:3000/api
    depends_on:
      - mongodb
    ports:
      - '3000:3000'
    restart: always

  posts-api:
    container_name: sm-posts-api-container
    build:
      context: .
      dockerfile: apps/posts-api/Dockerfile
      target: production
    environment:
      - PORT=3000
    ports:
      - '3001:3000'
    restart: always

  users-api:
    container_name: sm-users-api-container
    build:
      context: .
      dockerfile: apps/users-api/Dockerfile
      target: production
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongodb:27017/social-media-monorepo-db
    depends_on:
      - mongodb
    ports:
      - '3002:3000'
    restart: always

  web-app:
    container_name: sm-web-app-container
    build:
      context: .
      dockerfile: apps/web-app/Dockerfile
      target: production
      args:
        - AUTH_API_URL=http://localhost:3000/api
        - USERS_API_URL=http://localhost:3002/api
    ports:
      - '80:80'
    restart: always

volumes:
  mongo_data:
