apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app-deployment
  namespace: social-media-monorepo
  labels:
    app: web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: web-app-container
          image: prathoreme/social-media-monorepo-web-app:v0.2.4
          imagePullPolicy: Always
          env:
            - name: VITE_AUTH_API_URL
              valueFrom:
                configMapKeyRef:
                  name: social-media-monorepo-configmap
                  key: VITE_AUTH_API_URL
            - name: VITE_USERS_API_URL
              valueFrom:
                configMapKeyRef:
                  name: social-media-monorepo-configmap
                  key: VITE_USERS_API_URL
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '500m'
