apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api-deployment
  namespace: social-media-monorepo
  labels:
    app: auth-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
        - name: auth-api-container
          image: prathoreme/social-media-monorepo-auth-api:latest
          imagePullPolicy: Always
          ports:
          - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /auth-api/api
              port: 3000
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"