apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api-deployment
  namespace: social-media-monorepo
  labels:
    app: auth-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
        - name: auth-api-container
          image: prathoreme/social-media-monorepo-auth-api:v0.2.0
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: social-media-monorepo-secrets
            - configMapRef:
                name: social-media-monorepo-configmap
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /auth-api/api
              port: 3000
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '500m'
