apiVersion: v1
kind: Service
metadata:
  name: auth-api-service
  namespace: social-media-monorepo
  labels:
    app: auth-api
spec:
  selector:
    app: auth-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP