apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-db-pvc
  namespace: social-media-monorepo
spec:
  resources:
    requests:
      storage: 1Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
