apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api-deployment
  namespace: social-media-monorepo
  labels:
    app: users-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
        - name: users-api-container
          image: prathoreme/social-media-monorepo-users-api:latest
          imagePullPolicy: Always
          ports:
          - containerPort: 3000

          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"